.graph {
	width: 720px;
}

.identity {
	display: flex;
	flex-direction: column;
	margin: 0.5em;
	font-family: monospace;
}

.identity .drawer {
	padding: 0.5em;
}

.catalog {
	display: flex;
	flex-direction: column;
	font-family: monospace;
	margin: 0.5em;
}

.catalog .search {
	display: flex;
}

.catalog .search .types {
	/* display: flex;
	flex-direction: row; */
}

.catalog .search .types .type {
	border: 1px inset;
	border-radius: 2px;
	margin-left: 6px;
	display: inline-block;
}

.catalog .search .types .type div {
	display: inline-block;
	vertical-align: top;
	padding: 4px 3px 3px 3px;
	height: 1em;
}

.catalog .search .types .type .close {
	cursor: pointer;
}

.catalog .search .types .type .close:hover {
	background: lightgrey;
}

input[type="text"] {
	flex: 1;
	padding: 1px 3px;
	font-family: inherit;
	font-size: inherit;
}

.catalog .tree .entry {
	cursor: pointer;
	white-space: pre;
	display: flex;
}

.catalog .tree .entry.expanded .prefix::after {
	content: "○ ";
}

.catalog .tree .entry.collapsed .prefix::after {
	content: "● ";
}

.catalog .tree .entry.empty .prefix::after {
	content: "- ";
}

.catalog .tree .entry.expanded .prefix:hover::after {
	content: "● ";
	opacity: 0.3;
}

.catalog .tree .entry.collapsed .prefix:hover::after {
	/* content: "○ "; */
	content: "● ";
	opacity: 0.3;
}

.catalog .tree .entry .label {
	flex: 1;
}

.catalog .tree .entry.focused .label {
	font-weight: bold;
	text-decoration: underline;
}

.content {
	height: 240px;
	display: flex;
	padding: 0.5em;
}

.content .tree {
	overflow-y: auto;
	padding-right: 1em;
	min-width: 180px;
	flex-shrink: 0;
	border-right: 1px solid rgb(218, 218, 218);
}

.documentation {
	flex: 1;
	padding-left: 1em;
	overflow: auto;
	display: flex;
	flex-direction: column;
}

.documentation h1 {
	margin: 0;
}

.documentation .description {
	font-family: initial;
	overflow: auto;
	flex: 1;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
